body, div {
  text-align: center;
}

#button-row {
  margin: 30px auto 60px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

button {
  height: 40px;
  width: 160px;
  background-color: firebrick;
  border: none;
  border-radius: 5px;
  color: papayawhip;
  box-shadow: 2px 2px 1px #555;
}

button:hover {
  background-color: #ca5339;
  cursor: pointer;
}

#quote {
  font-size: 150%;
  width: 600px;
  margin: 0 auto;
}
